<br>

<%= link_to 'New Movie', new_movie_path, :class => 'btn btn-success' %>
<br>
<br>

<div class="panel panel-default">
  <div class="panel-heading">Movie Requests</div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Movie Name</th>
        <th>Status</th>
        <th>Change Status</th>
      </tr>
      </thead>
      <tbody>
      <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.name.upcase %></td>
            <td>
              <i class="<%= movie.status? ? "#{'glyphicon'} #{'glyphicon-ok'}" : "#{'glyphicon'} #{'glyphicon-remove'}" %>"></i>
            </td>
            <td><%= link_to '<i class="glyphicon glyphicon-refresh"></i>'.html_safe, movie, method: :put %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<br>
